* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  line-height: 1.42;
}

body {
  font-family: ubuntu, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: $black;
  background-color: $white;
}

ul{
  margin: 0;
  padding: 0;
}

ul li {
  display: block;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header, .main-content {
  width: 100%;
}

.main-section {
  height: 100vh;
  min-height: 650px;
  min-width: $container-width + 20px;
}

.container {
  min-width: $container-width;

}

.hide {
  display: none;
}

button {
  cursor: pointer;
}

 .wrap {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  min-height: 650px;
}

.scroll-window {
  position: absolute;
  top: 0;
  height: 100%;
  min-height: 100%;
  min-height: 650px;
}

@media all and (max-width: 768px) {

  .wrap {
    position: static;
  }

  .aside {
    display: none;
  }

} 