.aside__link {
  position: relative;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $white;
  display: block;
  margin-top: 15px;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    content: '';
    width: 0;
    height: 0;
    background-color: transparent;
    border: 1px solid $white;
    border-radius: 50%;
  }

  &:hover {
    &::before {
      width: 15px;
      height: 15px;
    }
  }
}

.aside {
  position: fixed;
  top: 80px;
  right: 55px;
  z-index: 2;
}

.aside__link_active {

  &::before {
      width: 15px;
      height: 15px;
    }

}