.header {
  font-weight: 500;
  font-size: 13px;
  color: $white;
  position: absolute;
  top: 10px;
}

.header, .header__wrap, .header__right, .main-nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__wrap, .header__right, {
  justify-content: space-between;
}

.header, .main-nav__list {
  justify-content: center; 
}

.main-nav__item {
  margin-left: 35px;
}

.main-nav__item:first-of-type {
  margin-left: 0;
}

.main-nav__item:nth-of-type(n+2) {
  position: relative;
  &::before {
    content: '';
    width: 4px;
    height: 4px;
    background-color: $white;
    border-radius: 50%;
    position: absolute;
    left: -17px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.order-button {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  background-color: #e45028;
  border: none;
  color: $white;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  font-family: ubuntu, Arial, sans-serif;
}

.order-button_header {
  margin-left: 12px;
}