.main-section_team {
  background-image: url(../img/bg/team-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.team {
  background-color: #343739;
  opacity: 0.93;
  color: $white;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 50%;
  padding-left: 80px;
  padding-top: 90px;
  padding-right: 90px;
}

.main-section__heading_team {
  color: $yellow;
  text-align: left;
  margin-bottom: 70px;
}


.team__item {
  margin-bottom: 32px;
  margin-left: 20px;
}


.team__member {
  font: {
    family: Gagalin, Arial, sans-serif;
    weight: 400;
    size: 14px;
  }
  color: $white;
  text-transform: uppercase;
  position: relative;
}

.team__triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $yellow;
  border-bottom: none;
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-25%);
  transition: transform 0.4s;
}

//accordion

.team__member_active {
  color: $yellow;

  .team__triangle {
    transform: rotate(180deg);
  }

  +.team__drop {
  max-height: 100px;
  margin-top: 15px;
  }

}

.team__drop {
  width: 365px;
  max-height: 0;
  transition: all 0.4s;
  overflow: hidden;
}


.team__img {
  width: 100px;
  height: 100px;
  flex-basis: 100px;
  border-radius: 50%;
  background-image: url(../img/content/member.jpg);
  background-position: 60% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
}

.team__img, .team__content {
  display: inline-block;
  vertical-align: middle;
}

.team__content {
  width: 220px;
}

.team__heading {
  margin-bottom: 15px;
}

