
.main-section_bullets {
  background-image: url(../img/bg/bullets-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.main-section__heading {
  @include heading-text($black);
  text-align: center;
  margin-top: 90px;
}

.benefits__list {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.benefits__item {
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits__logo {
  margin-bottom: 25px;
}

.benefits__heading {
    font: {
    family: Lifehack, Arial, sans-serif;
    weight: 500;
    size: 24px;
    }
  color: $black;
  margin-bottom: 10px;
  line-height: 1.3;
}

.benefits__heading, .benefits__text {
  text-align: center;
}

.benefits__text {
  line-height: 1.65;
}