
@font-face {
    font-family: 'Lifehack';
    src: url('../fonts/Lifehack Medium.eot');
    src: local('☺'), 
         url('../fonts/Lifehack Medium.woff') format('woff'), 
         url('../fonts/Lifehack Medium.ttf') format('truetype'), 
         url('../fonts/Lifehack Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}




@font-face {
    font-family: 'Gagalin';
    src: url('../fonts/Gagalin-Regular.eot');
    src: local('☺'),
        url('../fonts/Gagalin-Regular.woff') format('woff'),
        url('../fonts/Gagalin-Regular.ttf') format('truetype'), 
        url('../fonts/Gagalin-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/Ubuntu-B.eot');
    src: local('☺'), 
         url('../fonts/Ubuntu-B.woff') format('woff'), 
         url('../fonts/Ubuntu-B.ttf') format('truetype'), 
         url('../fonts/Ubuntu-B.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/Ubuntu-Light.eot');
    src: local('☺'), 
         url('../fonts/Ubuntu-Light.woff') format('woff'), 
         url('../fonts/Ubuntu-Light.ttf') format('truetype'), 
         url('../fonts/Ubuntu-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/Ubuntu-Medium.eot');
    src: local('☺'), 
         url('../fonts/Ubuntu-Medium.woff') format('woff'), 
         url('../fonts/Ubuntu-Medium.ttf') format('truetype'), 
         url('../fonts/Ubuntu-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/Ubuntu-Regular.eot');
    src: local('☺'), 
        url('../fonts/Ubuntu-Regular.woff') format('woff'), 
        url('../fonts/Ubuntu-Regular.ttf') format('truetype'), 
        url('../fonts/Ubuntu-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

